[submodule "comp_sci/Computer Graphics COM-391/comp_sci/Computer Graphics COM-391/sources/glew"]
	path = comp_sci/Computer Graphics COM-391/comp_sci/Computer Graphics COM-391/sources/glew
	url = https://github.com/nigels-com/glew.git
