font
{
 	font-family: "Times New Roman";
	font-weight: normal;
	line-height: 150%;
	color:;
	font-size: 18px;
}  

body
{
	margin-top: 5;
	margin-bottom: 5;
	margin-left: 70;
	margin-right: 60;
}

p
{
 /*height: 25pt;*/
 TEXT-ALIGN:JUSTIFY;
 text-indent:40;
}

A:hover
{
	font-family: Times New Roman, Verdana, Arial;
	COLOR: #126e25;
	font-weight: bold;
}

A:link
{
	font-family: Times New Roman, Verdana, Arial;
	FONT-SIZE: 18px;
	FONT-WEIGHT:bold;
	TEXT-DECORATION: none;
	color: #126e25;
}
A:visited
{
	font-family: Times New Roman, Verdana, Arial;
	FONT-SIZE: 18px;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
	color: #126e25;
}